.app{
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(122, 122, 122);
  padding: 15px;
  display: flex;

  --card-background: white;
  --text-color: gray;
  --body-background: rgb(122, 122, 122);
  --dashboard-background: #ececec;
  --sidebar-color: white;
  --carousel-arrow-color: rgb(121, 121, 121);
  --metric-button-background: white;
  --metric-button-background-selected: black;
  --carousel-dots-color: black;
}

.dark{
  --card-background: rgb(58, 58, 58);
  --text-color: white;
  --body-background: rgb(0, 0, 0);
  --dashboard-background: #2d2d35;
  --sidebar-color: rgb(37, 37, 37);
  --carousel-arrow-color: white;
  --metric-button-background: rgb(58, 58, 58);
  --metric-button-background-selected: white;
  --carousel-dots-color: white;
}

@media (max-width: 1800px) {
  .app {
    padding: 0px;
  }
}
