.carousel-container{
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 100%;
    height: max-content;;
}

.carousel {
    height: max-content;
    width: 100%; /*Importante especificar para que slack-track aparezca*/
    display: flex;
    overflow: hidden;
}

.slick-list {
    height: max-content !important;
}

.slick-list{
    overflow: hidden !important; /*Evita que se vea un pedazo de los componentes que vienen en el siguiente slide.*/
    column-gap: 30px !important;
}

.slick-slider {
    height: max-content !important;
    overflow: visible; /*Para que se vean los botone de desplazamiento.*/
}

.slick-next:before, .slick-prev:before{
    color: rgb(121, 121, 121) !important;
}