.datacard-container {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    background-color: var(--card-background);
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    /*max-height: 280px;*/
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.icon-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
}

.icon-value img {
    width: 30%;
    height: auto;
}

.datacard-container h3 {
    color: var(--text-color);
    margin: 5px;
    width: 100%;
    font-size: 24px;
    justify-self: flex-start;
}

.sunrise-sunset-value{
    font-size: 28px;
    font-weight: bold;
    color: var(--text-color);
}

.sunrise-hour{
    font-weight: bold;
}

@media (max-width: 700px) {
    .icon-value {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .datacard-container {
        padding: 10px 20px;
    }

    .sunrise-sunset-value{
        font-size: 24px;
    }

    .icon-value {
        justify-content: flex-start;
    }
}