.extraData-container{
    height: 100%;
    width: 100%;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 350px));
    justify-content: center;
    align-items: center;
}

@media (min-width: 2400px) {
    .extraData-container{
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        height: max-content;
    }
}

@media (max-width: 1450px) {
    .extraData-container{
        grid-template-columns: repeat(auto-fit, minmax(280px, 0.8fr));
    }
}

/*Permite hacer el ancho más pequeño para que se ajusta a pantallas más chicas.*/
@media (max-width: 450px) {
    .extraData-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}