.filter-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    z-index: 1000;
}

@media (max-width: 1600px) {
    .filter-container{
        width: 100vw;
        padding: 20px 40px;
        position: fixed;
        backdrop-filter: blur( 9px );
        -webkit-backdrop-filter: blur( 9px );
        top: 0;
    }
}

@media (max-width: 500px) {
    .filter-container{
        padding: 20px;
    }
}