.Home-container{
    background-color: var(--dashboard-background);
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    width: 100%;
}

@media (max-width: 1800px) {
    .Home-container{
        border-radius: 0px;
    }    
}
  