.Home-container{
    background-color: rgb(241, 241, 241);
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    width: 100%;
}

@media (max-width: 1500px) {
    .Home-container{
        border-radius: 0px;
    }    
}
  