.MetricOptions-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: 'Lato', sans-serif;
}

.metric-option {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--metric-button-background-selected);
    border-radius: 50%;
    font-weight: bolder;
    font-size: 25px;
    width: 48px;
    height: 48px;
    background-color: var(--metric-button-background);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.metric-option.selected {
    background-color: var(--metric-button-background-selected);
    color: var(--metric-button-background);
}

@media (max-width: 500px) {
    .metric-option {
        width: 38px;
        height: 38px;
        font-size: 20px;
    }
}