.Search-form {
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--dashboard-background);
}

.Search-form input {
    color: var(--text-color);
    background-color: transparent;
    border: none;
    font-size: 18px;
    width: 100%;
}

.Search-form img {
    width: 22px;
    height: auto;
    margin-right: 8px;
}

.Search-form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.Search-form span {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hide-btn{
    pointer-events: none;
    opacity: 0;
}

.city-error {
    position: absolute;
    bottom: -15px;
    color: rgb(31, 131, 238);
    width: 100%;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

.show-error{
    opacity: 1;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}