@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Secular+One&display=swap');

.weather-data-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    max-height: 1000px;
    color: var(--text-color);
    font-weight: light;
}

.weather-data-container .icon {
    width: 100%;
    height: auto;
}

.temperature-container{
    display: flex;
    align-items: flex-start;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 85px;
}

.weather-data-container .temperature-container .unit {
    position: relative;
    font-size: 36px;
    top: 10px;
    left: 10px;
}

.day-hour-container {
    display: flex;
    column-gap: 10px;
    font-size: 40px;
    margin-top: 25px;
    justify-content: center;
}

.day-hour-container .hour {
    color: var(--text-color);
}

.extra-data-container{
    width: 100%;
    padding-top: 20px;
    border-top: solid 1px var(--text-color);
    display: flex;
    flex-flow: column;
}

.icon-extra-data{
    width: 60px;
    height: auto;
}

.description-icon{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.img-opacity{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.city{
    color: var(--text-color);
    font-size: 40px;
    width: 100%;
    text-align: center;
}

@media (max-width: 800px) {
    .temperature-container{
        font-size: 70px;
    }

    .city{
        font-size: 40px;
    }
    
}


@media (max-width: 400px) {
    .icon-extra-data{
        width: 30px;
    }

    .day-hour-container {
        font-size: 30px;
    }
}